@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
html, body {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.header, .footer {
    align-self: center;
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 18px;
    font-weight: 500;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    padding: 18px;
    gap: 16px;
    font-weight: 350;
    align-items: center;
}

ul > li > * {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.wrap {
    display: flex;
    justify-content: center;
}

.copyright {
    font-weight: 100;
    font-size: 18px;
    padding: 30px;
    color: #E5E7EB;
}

